<div class="view">
    <div class="view-content position-relative">
        <router-outlet></router-outlet>
    </div>
    <div class="view-footbar">
        <button routerLink="demo/home" class="btn-text text-danger bar-item" type="button">
            <svg class="icon bar-icon" aria-hidden="true">
                <use xlink:href="#icon-bangbangtang"></use>
            </svg>
            <div class="bar-label">lollipop</div>
        </button>
        <button class="btn-text text-warning bar-item" type="button">
            <svg class="icon bar-icon" aria-hidden="true">
                <use xlink:href="#icon-ningmeng"></use>
            </svg>
            <div class="bar-label">lemon</div>
        </button>
        <button class="btn-text text-success bar-item" type="button">
            <svg class="icon bar-icon" aria-hidden="true">
                <use xlink:href="#icon-qingpingguo"></use>
            </svg>
            <div class="bar-label">apple</div>
        </button>
        <button class="btn-text text-danger bar-item" type="button">
            <svg class="icon bar-icon" aria-hidden="true">
                <use xlink:href="#icon-caomei"></use>
            </svg>
            <div class="bar-label">strawberry</div>
        </button>
    </div>
</div>