<div class="view position-absolute">
    <div class="view-headbar bg-white">
        <div class="headbar-title">
            <h4 class="text-center">歌单</h4>
        </div>
    </div>
    <div class="view-content bg-dark">
        <div class="flex-start p-4">
            <div style="width:30%">
                <img class="w-100" src="https://picsum.photos/300/300?300" alt="封面">
            </div>
            <div class="ml-4">
                <h6>我喜欢的音乐</h6>
                <div class="flex align-items-center">
                    <img class="img-circle" width="30" height="30" src="https://hello1024.oss-cn-beijing.aliyuncs.com/upload/goods/20180831050500839ebcfbbe3ce92130dd470722797e205b88cc7cc37717.66977581.jpg"
                        alt="头像">
                    <span class="font-size-sm ml-2">这个是我的昵称</span>
                </div>
            </div>
        </div>
        <div class="flex-around mt-3">
            <div class="text-center">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-comments"></use>
                </svg>
                <div class="mt-1 font-size-sm">评论</div>
            </div>
            <div class="text-center">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-share"></use>
                </svg>
                <div class="mt-1 font-size-sm">分享</div>
            </div>
            <div class="text-center">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-download"></use>
                </svg>
                <div class="mt-1 font-size-sm">下载</div>
            </div>
            <div class="text-center">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-email"></use>
                </svg>
                <div class="mt-1 font-size-sm">多选</div>
            </div>
        </div>
        <div class="playlist bg-white mt-4 pb-2">
            <div class="playlist-header p-2">
                <svg class="icon mr-2" aria-hidden="true">
                    <use xlink:href="#icon-play"></use>
                </svg>
                <span>播放全部(共120首)</span>
            </div>
            <div class="flex align-items-center pt-2 pl-2 pr-2">
                <svg class="icon text-danger music-icon" aria-hidden="true">
                    <use xlink:href="#icon-music"></use>
                </svg>
                <div class="flex-between align-items-center ml-2 w-100 pb-2 music-item">
                    <div>
                        <div class="text-truncate">风起时，想你</div>
                        <div class="font-size-sm mt-2 text-muted">陈楚生</div>
                    </div>
                    <div class="text-muted">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-video"></use>
                        </svg>
                        <svg class="icon ml-2" aria-hidden="true">
                            <use xlink:href="#icon-more"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="flex align-items-center pt-2 pl-2 pr-2">
                <span class="music-icon pb-2">2</span>
                <div class="flex-between align-items-center ml-2 w-100 pb-2 music-item">
                    <div>
                        <div>Trust in you</div>
                        <div class="font-size-sm mt-2 text-muted">sweet ARMS</div>
                    </div>
                    <div class="text-muted">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-video"></use>
                        </svg>
                        <svg class="icon ml-2" aria-hidden="true">
                            <use xlink:href="#icon-more"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="flex align-items-center pt-2 pl-2 pr-2">
                <span class="music-icon pb-2">3</span>
                <div class="flex-between align-items-center ml-2 w-100 pb-2 music-item">
                    <div>
                        <div>最后的审判</div>
                        <div class="font-size-sm mt-2 text-muted">Emilie Moldow</div>
                    </div>
                    <div class="text-muted">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-video"></use>
                        </svg>
                        <svg class="icon ml-2" aria-hidden="true">
                            <use xlink:href="#icon-more"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="flex align-items-center pt-2 pl-2 pr-2">
                <span class="music-icon pb-2">4</span>
                <div class="flex-between align-items-center ml-2 w-100 pb-2 music-item">
                    <div>
                        <div>Brave</div>
                        <div class="font-size-sm mt-2 text-muted">Jennifer Lopez</div>
                    </div>
                    <div class="text-muted">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-video"></use>
                        </svg>
                        <svg class="icon ml-2" aria-hidden="true">
                            <use xlink:href="#icon-more"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="flex align-items-center pt-2 pl-2 pr-2">
                <span class="music-icon pb-2">5</span>
                <div class="flex-between align-items-center ml-2 w-100 pb-2 music-item">
                    <div>
                        <div>Vi Finder Hjem</div>
                        <div class="font-size-sm mt-2 text-muted">Emilie Moldow</div>
                    </div>
                    <div class="text-muted">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-video"></use>
                        </svg>
                        <svg class="icon ml-2" aria-hidden="true">
                            <use xlink:href="#icon-more"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>