@import "scss/variables";
@import "scss/animate";
@import "scss/functions";
@import "scss/default";
@import "scss/tools";
@import "scss/button";
@import "scss/card";
@import "scss/image";
@import "scss/toolbar";
@import "scss/popup";
@import "scss/alert";
@import "scss/checkbox";

//
// tab
//
.tab {
    display: flex;
    justify-content: space-around;
}

.tab .tab-item {
    text-align: center;
    align-self: center;
    flex-grow: 1;
    padding-bottom: map-get($spacers, 3);
    padding-top: map-get($spacers, 3);
    border-bottom: 2px solid $gray-100;
}

.tab .tab-item.active {
    color: red;
    border-bottom: 2px solid red;
}
