//
// headbar and footbar config
//
$headbar-height: 3rem;
$headbar-shadow-enable: true;
$headbar-icon-size: $font-size * 1.4;

$footbar-height: 3.8rem;
$footbar-shadow-enable: $headbar-shadow-enable;
$footbar-icon-size: $font-size * 1.8;
$footbar-label-size: $font-size * 0.8;

.view {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.view-content {
    overflow-x: hidden;
    overflow-y: auto;
    flex-grow: 1;
}

.view-headbar {
    height: $headbar-height;
    min-height: $headbar-height;
    max-height: $headbar-height;
    display: flex;
    user-select: none;

    @if $headbar-shadow-enable {
        box-shadow: $box-shadow-sm;
    }

    .bar-icon {
        font-size: $headbar-icon-size;
    }
}

.view-headbar > * {
    align-self: center;
    z-index: 1;
}

.view-headbar .headbar-title {
    flex-grow: 1;
}

.view-footbar {
    height: $footbar-height;
    min-height: $footbar-height;
    max-height: $footbar-height;

    @if $footbar-shadow-enable {
        box-shadow: $box-shadow-reverse-sm;
    }

    @extend .flex-around;
}

.view-footbar {
    .bar-item {
        flex-grow: 1;
        align-self: center;
    }

    .bar-icon {
        font-size: $footbar-icon-size;
    }

    .bar-label {
        font-size: $footbar-label-size;
        margin-top: map-get($spacers, 1);
    }
}

.view-footbar-gray {
    .bar-item {
        filter: grayscale(100%);
    }

    .bar-item.active {
        filter: grayscale(0%) !important;
    }
}
