.view-headbar .iconfont,
.view-headbar {
    font-size: 1.3rem;
    color: white;
    box-shadow: none;
}

.circle .iconfont {
    color: white;
}

.circle {
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-shouyinji {
    font-size: 1.5rem;
}

.icon-paixing {
    font-size: 1.8rem;
}

.icon-calendar {
    font-size: 1.4rem;
}

.icon-music {
    font-size: 1.3rem;
}

pre {
    word-wrap: break-word;
}
