<div class="view">
    <div class="view-headbar bg-danger pl-3 pr-3">
        <i class="iconfont icon-menu"></i>
        <div class="headbar-title flex-center align-items-center ml-4 mr-4">
            <!-- <i class="iconfont icon-music"></i> -->
            <span>音乐</span>
        </div>
        <i class="iconfont icon-search"></i>
    </div>
    <div class="view-content">
        <div>
            <div class="bg-danger">
                <app-tabs [tabs]="['推荐','朋友','电台']" color="white" [target]="tabs" activeTab="电台"></app-tabs>
            </div>
            <div appTabs #tabs='appTabs'>
                <div appTab tab='推荐'>
                    <div>
                        <div class="loop-container p-3">
                            <div class="loop-card">
                                <img class="w-100 round" src="https://picsum.photos/800/400/?100">
                            </div>
                            <div class="loop-card"></div>
                            <div class="loop-card"></div>
                        </div>
                    </div>
                    <div class="flex-around pb-3" style="border-bottom:1px solid rgba(0,0,0,.1)">
                        <div class="">
                            <div class="bg-danger circle">
                                <i class="iconfont icon-shouyinji"></i>
                            </div>
                            <div class="text-dark text-center mt-1">电台</div>
                        </div>
                        <div routerLink="/recommand">
                            <div class="bg-danger circle">
                                <i class="iconfont icon-calendar"></i>
                            </div>
                            <div class="text-dark text-center mt-1">推荐</div>
                        </div>
                        <div>
                            <div class="bg-danger circle">
                                <i class="iconfont icon-music"></i>
                            </div>
                            <div class="text-dark text-center mt-1">歌单</div>
                        </div>
                        <div>
                            <div class="bg-danger circle">
                                <i class="iconfont icon-paixing"></i>
                            </div>
                            <div class="text-dark text-center mt-1">排行</div>
                        </div>
                    </div>
                    <div class="p-2">
                        <div class="p-2">
                            <span class="text-dark">推荐歌单</span>
                            <i class="iconfont icon-back-reverse"></i>
                        </div>
                        <div class="flex-around flex-wrap text-dark mt-2">
                            <div *ngFor="let recommand of recommands" class="p-1" style="min-width:25%;width: 33%;">
                                <img class="w-100" [src]="recommand.picUrl" alt="">
                                <div>{{recommand.name}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div appTab tab='朋友'>
                    <div *ngFor="let event of events" class="card m-2 p-2">
                        <div class="flex">
                            <img class="img-circle mr-2" height="40" [src]="event.user.avatarUrl" alt="头像">
                            <div class="flex-between flex-grow-1">
                                <div>
                                    <div class="text-primary">{{event.user.nickname}}</div>
                                    <div class="text-muted">
                                        <small>刚刚</small>
                                    </div>
                                </div>
                                <div>
                                    <span class="badge badge-danger">+ 关注</span>
                                </div>
                            </div>
                        </div>
                        <div class="text-dark">
                            <div>
                                <pre>{{event.json.msg}}</pre>
                            </div>
                            <!-- {{event.json|json}} -->
                            <div *ngIf="event.json.video">
                                <img [src]="event.json.video.coverUrl" style="width:100%">
                            </div>
                        </div>
                    </div>
                </div>
                <div appTab tab='电台'>
                    <div class="pl-2 pr-2">
                        <p>今日优选</p>
                        <div *ngFor="let program of programs" class="card flex mb-2 pr-2">
                            <img class="flex-shrink-0" width="100" height="100" [src]="program.picUrl" alt="封面">
                            <div class="pl-2 flex-shrink-1" style="max-width: calc(100% - 100px);">
                                <div class="mb-2 mt-2 text-truncate">{{program.name}}</div>
                                <div class="text-muted text-truncate">
                                    <small>节目：{{program.commentCount}}</small><br>
                                    <small>{{program.copywriter}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="view-footbar"></div>
</div>
<app-foot-player class="position-fixed bottom w-100"></app-foot-player>